@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Sofia+Sans+Extra+Condensed:ital,wght@1,300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    gap: 0;
}
